body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
   
    
    margin: 0;
    background-color: #797979ad;
}
.general {  display: grid;
    grid-template-columns: 0.5fr 2.3fr;
    grid-template-rows: 0.2fr 2.5fr;
    gap: 1px 1px;
    grid-auto-flow: column;
  }
  
  .logo { grid-area: 1 / 1 / 2 / 2; 
    max-width: 100%;
    max-height: 100%;
    min-height: 130px;
    text-align: center;
    background-color: #797979ad;}

  
  .menusuperior {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". . login"
      ". . .";
    grid-area: 1 / 2 / 2 / 3;
    background-color: #797979ad;
  }
  
  .login { grid-area: login; 
    background-color:#797979ad;
    
}
  
  .menuizquierdo { grid-area: 2 / 1 / 3 / 2;
background-color: #797979ad;}
  
  .menucentral { grid-area: 2 / 2 / 3 / 3;
background-color: #797979ad; }
  

#resultado-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  #resultado {
    width: 100%;
  border-collapse: collapse;
  margin: 20px;
  font-family: Arial, sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  
  }
   
  #resultado th, #resultado td {
    border: 1px solid #cccccc2a;
    padding: 10px;
  }
  
  #resultado tbody tr:nth-child(even) {
    background-color: #f2f2f252;
  }
  
 
.botonagregar{
    align-items: center;
    width: 100%;
    justify-content: center;
    background:#7c7b77;
    border:  1px  solid #ffffff; 
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.botonagregar:hover {
    background-color: #ffffffad; 
    color: #000000; 
    border-color: #ffffff; 
  }

  .botonfiltrar{
   
    max-width: 20%;
    background:#7c7b77;
    border:  1px  solid #ffffff; /* Color del borde */
    padding: 10px 20px; /* Relleno superior e inferior y relleno izquierdo y derecho */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.addlabel{
width: 350px;
height: 24px;
font-size: 18px;
}
#stock-input, #nombre-input, #marca-input, #precio-input, #lugar-input, #observacion-input {
  width:auto;
  height: auto;
  overflow:visible;
  background-color: #ccc; /* Color de fondo gris */
  border: 1px solid #999; /* Borde del cuadro de texto */
  padding: 5px; /* Espaciado interior del cuadro de texto */
  border-radius: 4px; /* Bordes redondeados */
  
}



  #div1{
    margin-top: 20px;
    display:flex;
    justify-content:space-around;
    width: 100%; 
}
  .botonpanel{ 
   width:30%;
    background:#7c7b77;
    border:  1px  solid #ffffff; /* Color del borde */
    padding: 10px 20px; /* Relleno superior e inferior y relleno izquierdo y derecho */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    color: #ffffff;
  
  }
  .botonpanel:hover {
    background-color: #ffffffad; /* Color de fondo en el hover */
    color: #000000; /* Color del texto en el hover */
    border-color: #ffffff; /* Color del borde en el hover */
  }
.botonfiltrar:hover {
    background-color: #ffffffad; /* Color de fondo en el hover */
    color: #000000; /* Color del texto en el hover */
    border-color: #ffffff; /* Color del borde en el hover */
  }

  .elimBtn{
    background:#7c7b77;
    border:  1px  solid #ffffff; /* Color del borde */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  
  }

 .modBtn{
  background:#7c7b77;
  border:  1px  solid #ffffff; /* Color del borde */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;


}

        /* Estilos para el modal */
        .modal {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          color: #000;
      }

      .modal-content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #fff;
          padding: 20px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          display: flex;
         
        
      }

      .close {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
      }

      .slider {
        width: 100vw;
        height: auto;
        margin: auto;
        overflow: hidden;
        grid-column:1/span 3;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .slider .slide-track {
        display: flex;
        animation: scroll 40s linear infinite;
        -webkit-animation: scroll 40s linear infinite;
        width: calc(300px * 10);
        
    }
    
    .slider .slide1 .slide2 .slide3.slide4.slide5 {
        width: 300px;
        
        
        
    }
    .indicator-name{width: 300px;
    margin: 1px 1px 1px 1px;
    box-shadow: 0 4px 8px 0 rgb(255, 0, 0);

  }
    
    
    .slider {
   
      text-align: center;
        width: 100%;
        
    }
    
    @keyframes scroll {
        0% {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
        100% {
            -webkit-transform: translateX(calc(-300px * 5));
            transform: translateX(calc(-300px * 5));
        }
    }
    .login{
      width: 100%; /* Ancho del div */     
      font-size: 18px; /* Tamaño de fuente */
      color: white; /* Color del texto blanco */
      background-color: #ffffff23; /* Color de fondo (opcional) */
      
       height: 50px ;
    }
       
      #nombreUsuarioDiv {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content:center;
        padding: 2px;
        box-shadow: 0 2px 2px 0 rgb(0, 0, 0);
      }
      
      #nombreUsuarioDiv > div {
        margin: 1px;
        padding-left: 5px;
        padding-right: 5px;
        
      }
      
      #nombreUsuarioDiv img {
        max-width: auto;
      }
     
      .textosalir {
        position: absolute;
        font-size: 10px;
        background-color: rgba(255, 0, 0, 0.7);
        color: #fff;
        
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    .salirsesion{
      cursor: pointer;
    position: relative;}
    .salirsesion:hover .textosalir {
        opacity: 1;
        
    }
    
    .social-icons {
      
     grid-area: 3 / 1 / 4 / 2;
      display: flex;
      justify-content: space-between;
      min-width: 20%;
      width: 300px;
      margin: 0 auto;   
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
  }
  
  .social-icons a {
      text-decoration: none;
      color: #333;
      padding: 1px;
      transition: color 0.3s;
  }
  
  .social-icons a:hover {
      color: #007bff; /* Cambia el color al pasar el ratón por encima */
  }
  
  .social-icons img {
      width: 40px; /* Ajusta el tamaño de los íconos según tus necesidades */
      height: auto;
  }
.rss {
  grid-area:  2 / 1 / 3 / 2;
  text-align: center;
  height: 1px; 
  width: 100%;
  
}